# Welcome to this final setup of jupyter notebooks
#here we try to finish this topics assignment in less than 48 hours :'(

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_train = pd.read_csv("https://raw.githubusercontent.com/Akaysimmer/topics-in-BA/main/train.csv")
df_test = pd.read_csv("https://raw.githubusercontent.com/Akaysimmer/topics-in-BA/main/test.csv")

In [3]:
df_train.head()

,id,name,release_date,artists,total_tracks,t_name0,t_name1,t_name2,t_dur0,t_dur1,...,t_val0,t_val1,t_val2,t_tempo0,t_tempo1,t_tempo2,t_sig0,t_sig1,t_sig2,popularity
0,0,Ya Solo Eres Mi Ex,2021-09-09,"La Adictiva Banda San José de Mesillas,",7,Ya Solo Eres Mi Ex,La Malagueña,México Lindo y Querido,222133,189133.0,...,0.626,0.878,0.833,74.924,126.970,197.836,4.0,3.0,3.0,51
1,1,Nibiru,2019-11-29,"Ozuna,",18,Nibiru,Hasta Que Salga el Sol,Temporal,158826,188480.0,...,0.158,0.598,0.484,173.023,96.042,148.019,4.0,4.0,4.0,67
2,2,DAMN.,2017-04-14,"Kendrick Lamar,",14,BLOOD.,DNA.,YAH.,118066,185946.0,...,0.494,0.422,0.648,156.907,139.913,69.986,4.0,4.0,4.0,81
3,3,Did I Shave My Legs For This?,1996-01-01,"Deana Carter,",11,I've Loved Enough To Know,We Danced Anyway,Count Me In,203693,202533.0,...,0.755,0.651,0.263,120.285,94.054,130.011,4.0,4.0,4.0,53
4,4,glisten,2018-05-04,"Jeremy Zucker,",4,all the kids are depressed,wildfire,glisten (interlude),169973,163000.0,...,0.707,0.426,0.466,103.861,129.170,116.349,4.0,4.0,4.0,70

In [4]:
df_test.head()

,id,name,release_date,artists,total_tracks,t_name0,t_name1,t_name2,t_dur0,t_dur1,...,t_live2,t_val0,t_val1,t_val2,t_tempo0,t_tempo1,t_tempo2,t_sig0,t_sig1,t_sig2
0,160000,Vizlaxy One,2021-08-24,"The Vizlaxy,",11,Ciko,Kumne,Pod Sem,34901,33343.0,...,0.0785,0.0397,0.0381,0.0374,89.674,84.987,122.585,3.0,4.0,4.0
1,160001,OTW (Acoustic Version),2018-06-25,"Missy & Blonde,",1,OTW - Acoustic Version,NaN,NaN,201655,NaN,...,NaN,0.5300,NaN,NaN,129.998,NaN,NaN,4.0,NaN,NaN
2,160002,Ocean Avenue,2003-01-01,"Yellowcard,",13,Way Away,Breathing,Ocean Avenue,202093,218706.0,...,0.0947,0.3640,0.5700,0.7860,179.644,179.581,173.734,4.0,4.0,4.0
3,160003,Bloomsday (Remastered),2018-02-16,"Esbe,",19,Float - Remastered,Fulfill / The Dream - Remastered,Wanderlust - Remastered,182783,416000.0,...,0.2600,0.4560,0.1070,0.5830,194.107,89.533,134.016,3.0,4.0,4.0
4,160004,Miss You,2021-09-03,"SLANDER, Ganja White Night,",1,Miss You,NaN,NaN,200000,NaN,...,NaN,0.0526,NaN,NaN,74.473,NaN,NaN,4.0,NaN,NaN

In [5]:
df_train.shape

(160000, 45)

In [6]:
# Setting the ID as index
df_train= df_train.set_index('id')

# Summarizing the Dataset 
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 160000 entries, 0 to 159999
Data columns (total 44 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   name          160000 non-null  object
 1   release_date  160000 non-null  object
 2   artists       160000 non-null  object
 3   total_tracks  160000 non-null  int64
 4   t_name0       160000 non-null  object
 5   t_name1       112284 non-null  object
 6   t_name2       108467 non-null  object
 7   t_dur0        160000 non-null  int64
 8   t_dur1        112284 non-null  float64
 9   t_dur2        108467 non-null  float64
 10  t_dance0      159786 non-null  float64
 11  t_dance1      112159 non-null  float64
 12  t_dance2      108390 non-null  float64
 13  t_energy0     159786 non-null  float64
 14  t_energy1     112159 non-null  float64
 15  t_energy2     108390 non-null  float64
 16  t_key0        159786 non-null  float64
 17  t_key1        112159 non-null  float64
 18  t_key2        108390 non-null  float64
 19  t_mode0       159786 non-null  float64
 20  t_mode1       112159 non-null  float64
 21  t_mode2       108390 non-null  float64
 22  t_speech0     159786 non-null  float64
 23  t_speech1     112159 non-null  float64
 24  t_speech2     108390 non-null  float64
 25  t_acous0      159786 non-null  float64
 26  t_acous1      112159 non-null  float64
 27  t_acous2      108390 non-null  float64
 28  t_ins0        159786 non-null  float64
 29  t_ins1        112159 non-null  float64
 30  t_ins2        108390 non-null  float64
 31  t_live0       159786 non-null  float64
 32  t_live1       112159 non-null  float64
 33  t_live2       108390 non-null  float64
 34  t_val0        159786 non-null  float64
 35  t_val1        112159 non-null  float64
 36  t_val2        108390 non-null  float64
 37  t_tempo0      159786 non-null  float64
 38  t_tempo1      112159 non-null  float64
 39  t_tempo2      108390 non-null  float64
 40  t_sig0        159786 non-null  float64
 41  t_sig1        112159 non-null  float64
 42  t_sig2        108390 non-null  float64
 43  popularity    160000 non-null  int64
dtypes: float64(35), int64(3), object(6)
memory usage: 54.9+ MB

In [7]:
# Describing the Dataset
df_train.describe()

,total_tracks,t_dur0,t_dur1,t_dur2,t_dance0,t_dance1,t_dance2,t_energy0,t_energy1,t_energy2,...,t_val0,t_val1,t_val2,t_tempo0,t_tempo1,t_tempo2,t_sig0,t_sig1,t_sig2,popularity
count,160000.000000,1.600000e+05,1.122840e+05,1.084670e+05,159786.000000,112159.000000,108390.000000,159786.000000,112159.000000,108390.000000,...,159786.000000,112159.000000,108390.000000,159786.000000,112159.000000,108390.000000,159786.000000,112159.000000,108390.000000,160000.000000
mean,11.004150,1.991346e+05,2.135132e+05,2.143228e+05,0.606401,0.608607,0.609624,0.605095,0.628722,0.616425,...,0.468572,0.493100,0.485054,119.736980,121.096000,120.600622,3.896737,3.909735,3.902546,47.034306
std,23.007852,1.160741e+05,1.112099e+05,9.868120e+04,0.184056,0.177404,0.179375,0.236601,0.232821,0.231022,...,0.255854,0.249949,0.252814,31.188965,30.459428,30.928580,0.510577,0.436034,0.465309,22.511931
min,1.000000,1.485000e+03,4.120000e+03,4.285000e+03,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,1.000000,1.508040e+05,1.688312e+05,1.693190e+05,0.490000,0.499000,0.500000,0.458000,0.489000,0.477000,...,0.261000,0.299000,0.289000,95.514000,96.700000,96.000000,4.000000,4.000000,4.000000,29.000000
50%,10.000000,1.920520e+05,2.036260e+05,2.064400e+05,0.630000,0.631000,0.628000,0.633000,0.660000,0.648000,...,0.460000,0.499000,0.482000,119.987000,120.018000,119.984000,4.000000,4.000000,4.000000,50.000000
75%,14.000000,2.336000e+05,2.426525e+05,2.449730e+05,0.745000,0.737000,0.743000,0.792000,0.811000,0.792000,...,0.670000,0.689000,0.682000,140.015000,141.179000,141.015000,4.000000,4.000000,4.000000,66.000000
max,1190.000000,1.082819e+07,7.054236e+06,6.145123e+06,0.988000,0.992000,0.982000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,239.713000,248.500000,246.322000,5.000000,5.000000,5.000000,100.000000

# Data cleaning
#now we shall clean the data

In [8]:
# Dropping all the non-numerical columns
numdf = df_train.drop(['name', 'release_date', 'artists', 't_name0', 't_name1', 't_name2'], axis = 1)

In [9]:
numdf.head()

,total_tracks,t_dur0,t_dur1,t_dur2,t_dance0,t_dance1,t_dance2,t_energy0,t_energy1,t_energy2,...,t_val0,t_val1,t_val2,t_tempo0,t_tempo1,t_tempo2,t_sig0,t_sig1,t_sig2,popularity
id,,,,,,,,,,,,,,,,,,,,,
0,7,222133,189133.0,165586.0,0.455,0.699,0.456,0.324,0.485,0.567,...,0.626,0.878,0.833,74.924,126.970,197.836,4.0,3.0,3.0,51
1,18,158826,188480.0,238293.0,0.814,0.826,0.697,0.566,0.816,0.593,...,0.158,0.598,0.484,173.023,96.042,148.019,4.0,4.0,4.0,67
2,14,118066,185946.0,160293.0,0.357,0.638,0.670,0.238,0.523,0.700,...,0.494,0.422,0.648,156.907,139.913,69.986,4.0,4.0,4.0,81
3,11,203693,202533.0,205373.0,0.640,0.629,0.616,0.707,0.721,0.327,...,0.755,0.651,0.263,120.285,94.054,130.011,4.0,4.0,4.0,53
4,4,169973,163000.0,89106.0,0.773,0.488,0.653,0.437,0.311,0.159,...,0.707,0.426,0.466,103.861,129.170,116.349,4.0,4.0,4.0,70

In [10]:
#check number of missing values
numdf.isnull().sum()

total_tracks        0
t_dur0              0
t_dur1          47716
t_dur2          51533
t_dance0          214
t_dance1        47841
t_dance2        51610
t_energy0         214
t_energy1       47841
t_energy2       51610
t_key0            214
t_key1          47841
t_key2          51610
t_mode0           214
t_mode1         47841
t_mode2         51610
t_speech0         214
t_speech1       47841
t_speech2       51610
t_acous0          214
t_acous1        47841
t_acous2        51610
t_ins0            214
t_ins1          47841
t_ins2          51610
t_live0           214
t_live1         47841
t_live2         51610
t_val0            214
t_val1          47841
t_val2          51610
t_tempo0          214
t_tempo1        47841
t_tempo2        51610
t_sig0            214
t_sig1          47841
t_sig2          51610
popularity          0
dtype: int64

In [11]:
#We need to come up with a strategy to deal with the remaining missing values in other columns.
#The choice we made is replacing missing values in other columns using column means:
numdf = numdf.fillna(numdf.mean())

In [12]:
#Let us check if there are indeed no missing values anymore:
numdf.isnull().sum()

total_tracks    0
t_dur0          0
t_dur1          0
t_dur2          0
t_dance0        0
t_dance1        0
t_dance2        0
t_energy0       0
t_energy1       0
t_energy2       0
t_key0          0
t_key1          0
t_key2          0
t_mode0         0
t_mode1         0
t_mode2         0
t_speech0       0
t_speech1       0
t_speech2       0
t_acous0        0
t_acous1        0
t_acous2        0
t_ins0          0
t_ins1          0
t_ins2          0
t_live0         0
t_live1         0
t_live2         0
t_val0          0
t_val1          0
t_val2          0
t_tempo0        0
t_tempo1        0
t_tempo2        0
t_sig0          0
t_sig1          0
t_sig2          0
popularity      0
dtype: int64

In [13]:
#finding the mean across t_dur0, t_dur1, t_dur2 and creating a colum t_dur for the average
numdf['dur'] = numdf.iloc[:, 1:4].mean(axis=1)

In [14]:
numdf.head()

,total_tracks,t_dur0,t_dur1,t_dur2,t_dance0,t_dance1,t_dance2,t_energy0,t_energy1,t_energy2,...,t_val1,t_val2,t_tempo0,t_tempo1,t_tempo2,t_sig0,t_sig1,t_sig2,popularity,dur
id,,,,,,,,,,,,,,,,,,,,,
0,7,222133,189133.0,165586.0,0.455,0.699,0.456,0.324,0.485,0.567,...,0.878,0.833,74.924,126.970,197.836,4.0,3.0,3.0,51,192284.000000
1,18,158826,188480.0,238293.0,0.814,0.826,0.697,0.566,0.816,0.593,...,0.598,0.484,173.023,96.042,148.019,4.0,4.0,4.0,67,195199.666667
2,14,118066,185946.0,160293.0,0.357,0.638,0.670,0.238,0.523,0.700,...,0.422,0.648,156.907,139.913,69.986,4.0,4.0,4.0,81,154768.333333
3,11,203693,202533.0,205373.0,0.640,0.629,0.616,0.707,0.721,0.327,...,0.651,0.263,120.285,94.054,130.011,4.0,4.0,4.0,53,203866.333333
4,4,169973,163000.0,89106.0,0.773,0.488,0.653,0.437,0.311,0.159,...,0.426,0.466,103.861,129.170,116.349,4.0,4.0,4.0,70,140693.000000

In [15]:
#finding the mean across t_dance0, t_dance1, t_dance2 and creating a column t_dance for the average
numdf['dance'] = numdf.iloc[:, 4:7].mean(axis=1)

In [16]:
numdf.head()

,total_tracks,t_dur0,t_dur1,t_dur2,t_dance0,t_dance1,t_dance2,t_energy0,t_energy1,t_energy2,...,t_val2,t_tempo0,t_tempo1,t_tempo2,t_sig0,t_sig1,t_sig2,popularity,dur,dance
id,,,,,,,,,,,,,,,,,,,,,
0,7,222133,189133.0,165586.0,0.455,0.699,0.456,0.324,0.485,0.567,...,0.833,74.924,126.970,197.836,4.0,3.0,3.0,51,192284.000000,0.536667
1,18,158826,188480.0,238293.0,0.814,0.826,0.697,0.566,0.816,0.593,...,0.484,173.023,96.042,148.019,4.0,4.0,4.0,67,195199.666667,0.779000
2,14,118066,185946.0,160293.0,0.357,0.638,0.670,0.238,0.523,0.700,...,0.648,156.907,139.913,69.986,4.0,4.0,4.0,81,154768.333333,0.555000
3,11,203693,202533.0,205373.0,0.640,0.629,0.616,0.707,0.721,0.327,...,0.263,120.285,94.054,130.011,4.0,4.0,4.0,53,203866.333333,0.628333
4,4,169973,163000.0,89106.0,0.773,0.488,0.653,0.437,0.311,0.159,...,0.466,103.861,129.170,116.349,4.0,4.0,4.0,70,140693.000000,0.638000

In [17]:
#finding the mean across the rest of the features and creating a new column for the average
numdf['energy'] = numdf.iloc[:, 7:10].mean(axis=1)
numdf['key'] = numdf.iloc[:, 10:13].mean(axis=1)
numdf['mode'] = numdf.iloc[:, 13:16].mean(axis=1)
numdf['speech'] = numdf.iloc[:, 16:19].mean(axis=1)
numdf['acous'] = numdf.iloc[:, 19:22].mean(axis=1)
numdf['ins'] = numdf.iloc[:, 22:25].mean(axis=1)
numdf['live'] = numdf.iloc[:, 25:28].mean(axis=1)
numdf['val'] = numdf.iloc[:, 28:31].mean(axis=1)
numdf['tempo'] = numdf.iloc[:, 31:34].mean(axis=1)
numdf['sig'] = numdf.iloc[:, 34:37].mean(axis=1)

In [18]:
numdf.head()

,total_tracks,t_dur0,t_dur1,t_dur2,t_dance0,t_dance1,t_dance2,t_energy0,t_energy1,t_energy2,...,energy,key,mode,speech,acous,ins,live,val,tempo,sig
id,,,,,,,,,,,,,,,,,,,,,
0,7,222133,189133.0,165586.0,0.455,0.699,0.456,0.324,0.485,0.567,...,0.458667,3.666667,0.666667,0.048967,0.490333,9.200000e-06,0.091233,0.779000,133.243333,3.333333
1,18,158826,188480.0,238293.0,0.814,0.826,0.697,0.566,0.816,0.593,...,0.658333,4.333333,0.000000,0.202100,0.109367,3.207000e-04,0.114333,0.413333,139.028000,4.000000
2,14,118066,185946.0,160293.0,0.357,0.638,0.670,0.238,0.523,0.700,...,0.487000,3.333333,0.666667,0.272667,0.240847,2.863511e-02,0.286733,0.521333,122.268667,4.000000
3,11,203693,202533.0,205373.0,0.640,0.629,0.616,0.707,0.721,0.327,...,0.585000,6.333333,1.000000,0.027467,0.333333,8.166667e-07,0.203333,0.556333,114.783333,4.000000
4,4,169973,163000.0,89106.0,0.773,0.488,0.653,0.437,0.311,0.159,...,0.302333,3.666667,1.000000,0.071500,0.711333,1.058667e-05,0.270667,0.533000,116.460000,4.000000

In [20]:
data = numdf[['total_tracks','dur','dance','energy','key','mode','speech','acous','ins','live','val','tempo','sig','popularity']]

In [21]:
data.head()

,total_tracks,dur,dance,energy,key,mode,speech,acous,ins,live,val,tempo,sig,popularity
id,,,,,,,,,,,,,,
0,7,192284.000000,0.536667,0.458667,3.666667,0.666667,0.048967,0.490333,9.200000e-06,0.091233,0.779000,133.243333,3.333333,51
1,18,195199.666667,0.779000,0.658333,4.333333,0.000000,0.202100,0.109367,3.207000e-04,0.114333,0.413333,139.028000,4.000000,67
2,14,154768.333333,0.555000,0.487000,3.333333,0.666667,0.272667,0.240847,2.863511e-02,0.286733,0.521333,122.268667,4.000000,81
3,11,203866.333333,0.628333,0.585000,6.333333,1.000000,0.027467,0.333333,8.166667e-07,0.203333,0.556333,114.783333,4.000000,53
4,4,140693.000000,0.638000,0.302333,3.666667,1.000000,0.071500,0.711333,1.058667e-05,0.270667,0.533000,116.460000,4.000000,70